/******************************************************************************
*
*
*
*
* 
*******************************************************************************/
@charset "utf-8";


html,body,div,table
{
    margin: 0;
    padding: ;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#head
{
    background-color: #4B1862;
	position:relative ;
}

#table_left_top
{
	border-collapse: collapse;
    border: 5px solid #999;
}

#table_left_bottom
{
	border-collapse: collapse;
    border: 5px solid #999;
}

#colarea
{
    border-collapse: collapse;
	border:5px solid #999
}

tr.spacebetweencells > td
{
    padding-right: 4em;
}

tr.spacebetweensubcells > td
{
	padding-bottom : 4em;
}

tr.inputsource > td
{
    padding-top : 4em;	
}

input.file
{
	background : url('selectButton.png');
}

#left_column a:link
{
	font-family: Arial, sans-serif;
	color: #551B84;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	position: relative;
	vertical-align: 100%;
	word-spacing: normal;
	position: relative;
	font-size: 20px;
	line-height: normal;
    margin: 0;
    padding: ;
    border: 0;
    outline: 0;
}

#left_column a:visited
{
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	position: relative;
	vertical-align: 100%;
	word-spacing: normal;
	position: relative;
	font-size: 20px;
	line-height: normal;
    margin: 0;
    padding: ;
    border: 0;
    outline: 0;
}

#left_column a:active
{
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	position: relative;
	vertical-align: 100%;
	word-spacing: normal;
	position: relative;
	font-size: 20px;
	line-height: normal;
    margin: 0;
    padding: ;
    border: 0;
    outline: 0;
} */

#elements
{
	margin:15px;	
}


#left_column a:hover{
	font-family: Arial, geneva, sans-serif;
	color : #DFAC11;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	position: relative;
	vertical-align: 100%;
	word-spacing: normal;
	position: relative;
	font-size: 20px;
	line-height: normal;
	cursor: pointer;
}


table, tr, td, h1, h2, a
{
	margin: 0;
	padding: 0;
}


#textbox1
{
	width= 500px;	
}